.elements_delete-button {
  /*display: block; 
  top: 0;
  right: 0; */
  
  width: 18px;
  height: 19.3px;
  background-color: transparent;
  background-image: url("../../../images/delete.svg");
  background-size: inherit;
  background-position: center ;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;  
  position: absolute;
  top: 18px;
  right: 15px;
}

.elements_delete-button:hover {
  opacity: 0.5;
}