.header__logo {
  width: 173px;
  height: 33px;
  background-image: url(../../../images/Vector.svg);
  background-size: cover;
  margin-bottom: 41px;
} 

/* Mobile version. Note already responsive to minimum of 880px where component sizes are fixed */
@media only screen and (min-device-width : 320px) and (max-device-width : 879px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-bottom:32px;
  }
}
