.form__error {
  display:block; /*REMOVE*/
  color:#FF0000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 13px;
  width: 358px; 
}

/* Mobile version. Note already responsive to minimum of 880px where component sizes are fixed */
@media only screen and (min-device-width: 320px) and (max-device-width: 879px) {
  .form__error {
    width: 238px;
  }
}