@import url(./__element/elements__element.css);
@import url(./__container/elements__container.css);
@import url(./__image/elements__image.css);
@import url(./__like-symbol/elements__like-symbol.css);
@import url(./__name/elements__name.css);

.elements {
  width: 880px;
  left: 200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows:  repeat(2, 1fr);
  grid-template-columns:  repeat(3, 1fr);
  gap: 20px 17px; /*row gap, column gap*/

}



/* Mobile version. Note already responsive to minimum of 880px where component sizes are fixed */
@media only screen and (min-device-width : 320px) and (max-device-width : 879px) {
  .elements {
    width: 282px;
    grid-template-rows:  6fr;
    grid-template-columns:  1fr;
    gap:  20px; 
  }
}
