
.profile__info {
  width: 415px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 391fr 24fr; /* 415-24 = 391 */
}

/* Mobile version. Note already responsive to minimum of 880px where component sizes are fixed */
@media only screen and (min-device-width : 320px) and (max-device-width : 879px) {
  .profile__info {
    margin-top: 26.25px;
    max-width: 224px;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    grid-template-columns: 206fr 18fr;
    
  }
}