.footer {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
  margin-bottom: 60px;
}

/* Mobile version. Note already responsive to minimum of 880px where component sizes are fixed */
@media only screen and (min-device-width : 320px) and (max-device-width : 879px) {
  .footer {
    width: 282px;
    margin-top: 50px;
    margin-bottom: 36px;
  }
}
